#root {
  position: relative;
  width: 100%;
  padding: 2rem;
  text-align: center;
}
.page-selector {
  position: absolute;
  top: 0%;
  right: 0%;
}
.page-button {
  background-color: #007bff; /* Green */
  border: none;
  color: white;
  text-align: center;
  font-size: 13px;
}
.page-button:hover {
  background-color: #0d78ee;
}
.button:disabled, button[disabled] {
  background-color: #467cb7;
}
