.page-selector {
  position: absolute;
  top: 0%;
  right: 0%;
}
.back-button {
  background-color: #007bff; /* Green */
  border: none;
  color: white;
  text-align: center;
  font-size: 13px;
}
.back-button:hover {
  background-color: #0d78ee;
}
.back-button:disabled, button[disabled] {
  background-color: #467cb7;
}
.new-coll-form {
  width: auto;
  display: inline;
}
.portfolio-tile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 20%;
}
.portfolio-type {
  text-align: center;
  font-size: 16px;
  margin-right: 10px;
}
.portfolio-tile-name {
  margin-left: 10px;
}
.transaction-tile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.bold {
  font-weight: bold;
}